@tailwind base;
@tailwind components;

@import 'pagination.postcss';
@import 'select.postcss';
@import 'datepicker.postcss';
@import 'swal.postcss';

@tailwind utilities;

* {
    @apply transition duration-100 ease-in-out;
}